.topnav {
  background-color: #232c3d;
  overflow: hidden;
  border-color: aliceblue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav img.logo {
  max-width: 30px;
}
